<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>beyond health</title>
  </head>
  <body>
    <div class="container">
      <div class="form_container">
        <div class="form">
          <h1>Sign Up</h1>
          <form class="data" action="/user" method="POST">
            <div class="input_field">
              <legend class="inp" for="">Enter your name :</legend>
              <input
                class="inp"
                type="text"
                name="name"
                placeholder="Enter your full name"
              />
            </div>
            <div class="input_field">
              <legend class="inp" for="">Date of birth :</legend>
              <input
                class="inp"
                type="date"
                data-date-inline-picker="true"
                name="dob"
              />
            </div>
            <div class="input_field">
              <!-- <legend class="inp">Choose your gender :</legend> -->
              <label for="male">Male</label>
              <input
                class="radio"
                type="radio"
                name="gender"
                id="male"
                value="male"
              />
              <label for="female">Female</label>
              <input
                class="radio"
                type="radio"
                name="gender"
                id="female"
                value="female"
              />
            </div>
            <div class="input_field">
              <legend class="inp" for="">Username :</legend>
              <input
                class="inp"
                type="text"
                name="username"
                placeholder="username"
              />
            </div>
            <div class="input_field">
              <legend class="inp" for="">Password :</legend>
              <input
                class="inp"
                type="password"
                name="password"
                placeholder="password"
              />
            </div>
            <div class="input_field submit_button">
              <input type="submit" value="Signup" />
            </div>
            <a href="/login">Already registered? Login</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
