<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="user-document.css" />
    <title>user documents</title>
  </head>
  <body>
    <h1>Shashank's documents</h1>
    <% for(var i=0;i<5;i++) { %>
    <div class="doc">
      <a class="docelements" href="">File name</a>
      <p class="docelements user">Shashank</p>
      <p class="docelements time">12:00:00</p>
      <p class="docelements rows">20</p>
    </div>
    <% }%>
  </body>
</html>
